{% extends "layout.html.twig" %}
{% block contenu %}

    <div class="banniere">
        <img id="banniere-large" src="{{ asset("assets/img/banniere.jpg") }}" alt="banniere"/>
        <img id="banniere-mobile" src="{{ asset("assets/img/banniere_m.jpg") }}" alt="banniere pour mobile"/>
    </div>

    <div>
        <img id="logo" src="{{ asset("assets/img/logo.png") }}"/>
    </div>
    <div class="text-center">
        <h2 id="decalage-top"><b>Le logiciel d'aide à la gestion de périscolaire.</b></h2>
        <h3 style="padding-top: 10px;">Actuellement en service dans la commune de Dasles.</h3>
        <a href="{{ path('adulte.login') }}" class="button large">Connexion</a>
        <a href="#" class="button large hollow">Informations</a>
    </div>

    <hr>

    <div class="row" id="accueil">
        <div class="column">
            <img class="reformat-image centerize" src="http://via.placeholder.com/350x350">
            <h5 class="text-center">Inscriptions des enfants en ligne</h5>
            <p class="text-center">Agenda</p>
        </div>
        <div class="column">
            <img class="reformat-image centerize" src="http://via.placeholder.com/350x350">
            <h5 class="text-center">Adapté à tout type de famille</h5>
            <p class="text-center">...</p>
        </div>
        <div class="column">
            <img class="reformat-image centerize" src="http://via.placeholder.com/350x350">
            <h5 class="text-center">Gestion des activités disponibles</h5>
            <p class="text-center">...</p>
        </div>
        <div class="column">
            <img class="reformat-image centerize" src="http://via.placeholder.com/350x350">
            <h5 class="text-center">Compte personnel sécurisé</h5>
            <p class="text-center">Cryptage RSA</p>
        </div>
    </div>

{% endblock %}